/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 90%;
}

.pump {
    color: green;
}

.dump {
    color: red;
}

.chart {
    border-style: solid;
    border-width: 1px;
}